<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/cabecario.css">
    <link rel="stylesheet" href="/css/fotoPerfil.css">
    <link rel="stylesheet" href="/css/footer.css">

    <title><%- title %></title>
</head>
<body>
    <header><%- include("./partials/header") %></header>

    <main>
        <section class="container-fotoPerfil">
            <h1>Escolha uma foto de perfil</h1>
            <div class="fotoSelecionada">
                <a href="#">
                    <img src="/img/edit.png" alt="editar">
                </a>
            </div>

            <span>
                <p>Lembrando que poderá editar os dados da sua conta no menu do usuário</p>

                <button type="submit">Confirmar</button>
            </span>
        </section>
    </main>
    <script src="/scripts/menu.js"></script>
</body>
</html>