html, body {
    width: 100%;
    z-index: 0;
}

main section.boasVindas {
    display: flex;
    background-color: #111130;
    color: white;
}

main section.boasVindas div.sobreoSite{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 40px;
    width: 37%;
    height: 400px;
}

main section.boasVindas div.sobreoSite h1{
    font-size: 64px;
}

main section.boasVindas div.sobreoSite p{
    font-size: 18px;
    margin: 10px 0;
    overflow-wrap: break-word;
}

main section.boasVindas div.sobreoSite a{
    text-decoration: none;
    color: #0066FF;
}

main section.boasVindas div.busca{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/direitoDireto.png');
    background-size: cover;
    object-fit: cover;
    width: 63%;
    height: 600px;
}

main section.boasVindas div.busca span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 40, 61, 0.5);
    width: 450px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
}

main section.boasVindas div.busca span p{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

main section.boasVindas div.busca span a{
    font-size: 32px;
    font-weight: bold;
    background-color: #0066FF;
    color: white;
    padding: 5px 65px;
    border-radius: 100px;
    text-decoration: none;
}

/* ------------------------------- SECTION NOSSO SITE ------------------------------- */


main section.nossoSite {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #07091B;
}

main section.nossoSite h2 {
    font-size: 36px;
    padding: 10px 0;
    color: white;
}

main section.nossoSite div.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
    width: 1100px;
    max-width: 100%;
    color: white;
    padding: 0 30px 15px 0;
}

main section.nossoSite div.cards div.card1, div.card2, div.card3, div.card4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 420px;
    height: auto;
    background-color: #111130;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    border-radius: 20px;
    margin: 30px 0;
    padding: 0 0 10px 0;
}

span.title{
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0;
}

main section.nossoSite div.cards p {
    font-size: 20px;
    margin: 15px 25px;
}


/* ------------------------------- DUVIDAS FREQUENTES ------------------------------- */

/*
main section.perguntasFrequentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #111130;
    color: #fff;
    padding: 20px 0;
}

main section.perguntasFrequentes ion-icon {
    font-size: 24px;
    color: #fff;
}

main section.perguntasFrequentes h3{
    font-size: 36px;
    font-weight: bold;
}

main section.perguntasFrequentes div.duvida1,
main section.perguntasFrequentes div.duvida2,
main section.perguntasFrequentes div.duvida3,
main section.perguntasFrequentes div.duvida4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 5px 0;
}

div.duvida1, div.duvida2, div.duvida3 {
    border-bottom: 1px solid #fff;
}

main section.perguntasFrequentes div.duvida1, div.duvida2, div.duvida3, div.duvida4 p{
    font-size: 24px;
    padding: 10px 0;
}

.conteudo {
    display: flex;
    align-items: center;
}
*/


/* ------------------------------- MEDIA QUERY ------------------------------- */

@media screen and (min-width: 805px) and (max-width: 1050px) {
    main section.nossoSite div.cards {
        width: 1100px;
        max-width: 100%;
        gap: 0;
    padding: 0;

    }

    main section.nossoSite div.cards div.card1, div.card2, div.card3, div.card4 {
        width: 275px;
        height: 265px;
    }

}

@media screen and (min-width: 550px) and (max-width: 805px) {

    /* --------------- SECTION BOAS VINDAS --------------- */

    main section.boasVindas{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 805px;
    }

    main section.boasVindas div.sobreoSite{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0 0 0;
        padding: 20px 25px 0 50px;
        width: 100%;
        height: 220px;
    }

    main section.boasVindas div.busca{
        width: 100%;
        height: 400px;
        margin-top: 60px;
    }

    /* --------------- SECTION NOSSO SITE --------------- */

    main section.nossoSite h2 {
        font-size: 28px;
        margin: 10px 0;
        color: white;
    }

    main section.nossoSite div.cards {  
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        justify-items: center;
        align-items: center;
        width: 100%;
        max-width: 805px;
        padding: 0;
    }

    main section.nossoSite div.cards div.card1, div.card2, div.card3, div.card4{
        max-width: 240px;
        height: 310px;
        margin: 10px 0;
        padding: 10px 0 10px 0;
    }

}

@media screen and (min-width: 450px) and (max-width: 550px) {
    /* --------------- SECTION BOAS VINDAS --------------- */

    main section.boasVindas{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 550px;
    }

    main section.boasVindas div.sobreoSite{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0 0 0;
        padding: 20px 25px 0 50px;
        width: 100%;
        height: 220px;
    }

    main section.boasVindas div.sobreoSite h1{
        text-align: center;
        font-size: 40px;
    }

    main section.boasVindas div.sobreoSite p{
        font-size: 14px;
    }

    main section.boasVindas div.busca{
        width: 100%;
        height: 400px;
        margin-top: 60px;
    }

    main section.boasVindas div.busca span p{
        font-size: 24px;

    }
    
    main section.boasVindas div.busca span a{
        font-size: 16px;
    }

    /* --------------- SECTION NOSSO SITE --------------- */

    main section.nossoSite h2 {
        font-size: 28px;
        margin: 10px 0;
        color: white;
    }

    main section.nossoSite div.cards {  
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        width: 100%;
        max-width: 450px;
        padding: 0;
    }

    main section.nossoSite div.cards div.card1, div.card2, div.card3, div.card4{
        max-width: 255px;
        height: 215px;
        margin: 20px 10px
    }

    span.title{
        font-weight: bold;
        font-size: 20px;
    }
    
    main section.nossoSite div.cards p {
        font-size: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 450px) {

    /* --------------- SECTION BOAS VINDAS --------------- */
    
    main section.boasVindas{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 460px;
    }

    main section.boasVindas div.sobreoSite{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0 0 0;
        padding: 20px 10px 20px 20px;
        width: 100%;
        height: 220px;
    }

    main section.boasVindas div.sobreoSite h1{
        font-size: 40px;
    }

    main section.boasVindas div.sobreoSite p{
        font-size: 14px;
    }

    main section.boasVindas div.busca{
        width: 100%;
        height: 400px;
        margin-top: 60px;
    }

    main section.boasVindas div.busca span p{
        font-size: 24px;

    }
    
    main section.boasVindas div.busca span a{
        font-size: 16px;
    }

    /* --------------- SECTION NOSSO SITE --------------- */

    main section.nossoSite h2 {
        font-size: 28px;
        margin: 10px 0;
        color: white;
    }

    main section.nossoSite div.cards {  
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        width: 100%;
        max-width: 450px;
        padding: 0;
    }

    main section.nossoSite div.cards div.card1, div.card2, div.card3, div.card4{
        max-width: 255px;
        height: 250px;
        margin: 20px 10px
    }

    span.title{
        font-weight: bold;
        font-size: 20px;
    }
    
    main section.nossoSite div.cards p {
        font-size: 16px;
    }
}