* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111130;
    width: 100%;
}   

section.perfilAdvogado {
    position: relative;
    width: 100%;
    height: 400px; 
    background-color: #0C0C24;
}

section.perfilAdvogado div.capaFundo {
    display: block;
    width: 100%;
}

section.perfilAdvogado div.capaFundo img {
    width: 100%;
    height: 275px;
    background-size: cover;
}

section.perfilAdvogado div.fotoPerfil {
    position: absolute;
    top: 200px; 
    left: 50px; 
    width: 125px;
    height: 125px;
    border-radius: 50%; 
    overflow: hidden;
}

section.perfilAdvogado div.fotoPerfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    background-size: cover;
}

section.perfilAdvogado div.informacoesAdvogado {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 15px 0 190px;
}

section.perfilAdvogado div.informacoesAdvogado div.informacoesPessoais,
section.perfilAdvogado div.informacoesAdvogado div.feedbackVisual {
    color: white;
}

section.perfilAdvogado div.informacoesAdvogado div.informacoesPessoais p,
section.perfilAdvogado div.informacoesAdvogado div.feedbackVisual p{
    margin-bottom: 5px;
}

/*********************** RESUMO PROFISSIONAL ***********************/

section.resumoProfissional {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 35px;
}

section.resumoProfissional div.biografia {
    width: 40%;
}

section.resumoProfissional div.biografia h1{
    color: #ffffff;
    margin-left: 20px;
    margin-bottom: 5px;
}

section.resumoProfissional div.biografia div.box {
    width: 500px;
    height: 300px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
}

section.resumoProfissional div.biografia div.box p {
    color: #fff;
}

section.resumoProfissional div.servicosOferecidos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.resumoProfissional div.servicosOferecidos h2 {
    color: #fff;
}

section.resumoProfissional div.servicosOferecidos p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    width: 100px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 10px;
}
